<div class="main-display">
    <div class="container">
      <div class="birth-death">
        <div class="bd">
          <div class="birth">
            <div>
              <h3>Births</h3>
              <!-- <p><fa-icon [icon]="faCakeCandles"></fa-icon></p> -->
            </div>
            <div>
              <p>{{ birthsCount }}</p>
            </div>
          </div>
          <div class="death">
            <div>
              <h3>Deaths</h3>
              <p><fa-icon [icon]="faBedPulse"></fa-icon></p>
            </div>
            <div>
              <p>{{ deathsCount }}</p>
            </div>
          </div>
        </div>
        <div class="graph">
          <app-chart></app-chart>
        </div>
      </div>
    </div>
  </div>
