<div class="main-display">
    <div class="container">
      <div class="add-search">
        <div class="search-bar">
          <app-search-bar />
        </div>
        <div class="add-death">
          <a routerLink="add-death" class="primary" type="button">Add Death</a>
        </div>
      </div>
      <div class="death">
        <table class="center">
          <colgroup>
            <col style="width: 110px;" />
            <col />
            <col />
            <col />
            <col />
            <col style="width: 100px;" />
            <col style="width: 100px;" />
          </colgroup>
          <tr>
            <th>CIN</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Death Date</th>
            <th>Burial Status</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr class="fist" *ngFor="let death of deaths">
            <td>{{ death.cin }}</td>
            <td>{{ death.surname }}, {{ death.first_name }}</td>
            <td>{{ death.Gender === 'M' ? 'Male' : 'Female' }}</td>
            <td>{{ death.date }}</td>
            <td>{{ death.Burial_Status == 'B' ? 'Buried' :'Not Buried' }}</td>
            <td class="btn-center">
              <button class="btn"><fa-icon [icon]="faEdit"></fa-icon></button>
            </td>
            <td class="btn-center">
              <button class="btn" (click)="deleteDeath(death.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
          <tr class="second">
        </table>
        <div>
          <router-outlet/>
        </div>
      </div>
    </div>
  </div>
