<div class="sideNav">
  <div class="container">
    <div class="side-nav">
      <div class="nav-links">
        <a id="dashboardLink" routerLink="dashboard" (click)="setTitle('Dashboard')">Dashboard</a>
        <a id="birthLink" routerLink="birth" (click)="setTitle('Birth')">Birth </a>
        <a id="deathLink" routerLink="death" (click)="setTitle('Death')">Death</a>
      </div>
    </div>
    <div class="log-out">
      <a>
        <button class="log-out-btn" (click)="onLogout()">Log Out</button>
      </a>
    </div>
  </div>
</div>
