<div class="sideNav">
    <div class="container">
      <div class="side-nav">
        <div class="nav-links">
          <a id="dashboardLink" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          <a id="birthLink" routerLink="birth" routerLinkActive="active">Birth </a>
          <a id="deathLink" routerLink="death" routerLinkActive="active">Death</a>
        </div>
      </div>
      <div class="log-out">
        <a>
          <button class="log-out-btn" (click)="onLogout()">Log Out</button>
        </a>
      </div>
    </div>
</div>
