/* You can add global styles to this file, and also import other style files */

*{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: none;
  }
  
  .container {
    font-family: "Manrope", sansarif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/background.jpeg");
  }
  
  .login {
    margin: 0;
    padding: 0;
    width: 40em;
    height: 30em;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
  }
  
  .login h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 20px 0;
    text-shadow: 0 .3px .5px rgb(145, 145, 145);
  }
  
  form .login-details .login-name {
    color: azure;
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
  }
  
  form .login-details .login-name .input {
    width: 28em;
    height: 3em;
    border: none;
    color: rgb(28, 28, 28);
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 10px;
    letter-spacing: .5px;
    background: transparent;
    border-radius: 3px 3px 3px 3px;
    border: .5px rgb(81, 81, 81) solid;
    box-shadow: 0px 0px 1px .5px rgb(240, 240, 240);
  }
  
  form .login-details .login-password {
    color: azure;
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
  }
  
  form .login-details .login-password .input {
    width: 28em;
    height: 3em;
    border: none;
    color: rgb(28, 28, 28);
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 10px;
    letter-spacing: .5px;
    background: transparent;
    border-radius: 3px 3px 3px 3px;
    border: .5px rgb(81, 81, 81) solid;
    box-shadow: 0px 0px 1px .5px rgb(240, 240, 240);
  }
  
  form .btnLnk {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 20px 0;
    height: 3em;
    width: 29em;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 3px .3px #e0dbdb;
  }
  
  form .btnLnk:hover {
    color: rgb(30, 30, 30);
    border: .5px rgb(81, 81, 81) solid;
    background-color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
  }
  
  form a {
    text-decoration: none;
  }
  