<div class="main-display">
    <div class="container">
      <div class="add-search">
        <div class="search-bar">
          <app-search-bar [SearchText]="searchTerm" (SearchTextChange)="onSearch($event)"></app-search-bar>
        </div>
        <div class="add-birth">
          <a routerLink="add-birth" class="primary" type="button">
            Add Birth
          </a>
        </div>
      </div>
      <div class="births">
        <table class="center">
          <colgroup>
            <col style="width: 110px;" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col style="width: 100px;" />
            <col style="width: 100px;" />
          </colgroup>
          <tr>
            <th>CIN</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Place of Birth</th>
            <th>City</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr class="fist" *ngFor="let birth of births || filterData">
            <td>{{ birth.CIN }}</td>
            <td>{{ birth.First_Name }} {{ birth.Last_Name }}</td>
            <td>{{ birth.Gender === 'M' ? 'Male' : 'Female' }}</td>
            <td>{{ birth.date }}</td>
            <td>{{ birth.Place_of_Birth }}</td>
            <td>{{ birth.City }}</td>
            <td class="btn-center">
              <button class="btn"><fa-icon [icon]="faEdit" [routerLink]="['edit-birth', birth.id]" ></fa-icon></button>
            </td>
            <td class="btn-center">
              <button class="btn" (click)="deleteBirth(birth.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
          
        </table>
        <div>
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
